@model IEnumerable<colibry.Models.Orden>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="~/Ordenes/Orden/">Crear Orden</a>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Fecha Visita</th>
            <th>Dirección</th>
            <th>Sitio</th>
            <th>Latitud</th>
            <th>Latitud</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.Sitio)</td>
                <td>@Html.DisplayFor(modelItem => item.Latitud)</td>
                <td>@Html.DisplayFor(modelItem => item.Longitud)</td>
                <td>
                    @Html.ActionLink("Editar", "Orden", new { id = item.Id }, new { @class = "btn btn-link" })
                    @Html.ActionLink("Eliminar", "BorrarOrden", new { id = item.Id }, new { @class = "btn btn-link text-danger" })
                </td>

            </tr>
        }
    </tbody>
</table>
